# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [12]:
import numpy as np
import pandas as pd

In [14]:
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [ ]:
# YOUR CODE HERE
#raise NotImplementedError()
import pandas as pd
import numpy as np
df['age'] = df['age'].replace(['2.0'] , '1.5')
df

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [76]:
# YOUR CODE HERE
#raise NotImplementedError()
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df =pd.DataFrame(data=data, index =labels)
sort_by_age = df.sort_values(by= ['age', 'visits'], ascending = [False, True])
#sort_by_visit = df.sort_values(by= 'visits' , ascending = True)
print(sort_by_age)
#print(sort_by_visit)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [78]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
    assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [42]:
# YOUR CODE HERE
#raise NotImplementedError()
df = pd.DataFrame(np.random.random(size=(5,3)))
print(df)
mean_by_row=df.mean(axis=1)
print(c)
sub_row = df.sub(df.mean(axis=1), axis=0)
print(sub_row)

          0         1         2
0  0.669542  0.771702  0.573689
1  0.392619  0.551166  0.801619
2  0.368184  0.018498  0.293208
3  0.217806  0.970709  0.042494
4  0.114111  0.380340  0.681780
0    0.523993
1    0.128619
2    0.399899
3    0.647511
4    0.821111
dtype: float64
          0         1         2
0 -0.002103  0.100058 -0.097955
1 -0.189182 -0.030635  0.219818
2  0.141554 -0.208132  0.066578
3 -0.192530  0.560373 -0.367843
4 -0.277966 -0.011737  0.289703

In [43]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [121]:
# YOUR CODE HERE
#raise NotImplementedError()
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
sum_column =df.sum(axis=0)
c=sum_column.idxmin(axis=0)
print(sum_column)
print(f'smallest number: {c}')

          a         b         c         d         e         f         g  \
0  0.712462  0.332229  0.141353  0.661516  0.078814  0.161196  0.652461
1  0.041929  0.569187  0.651675  0.558341  0.515285  0.132355  0.731301
2  0.439838  0.492223  0.820766  0.668205  0.360212  0.608848  0.251191
3  0.572476  0.527215  0.456084  0.014703  0.817118  0.249615  0.410647
4  0.306092  0.250971  0.620519  0.855040  0.476695  0.626263  0.604827

          h         i         j
0  0.792788  0.146309  0.935434
1  0.193331  0.250392  0.670107
2  0.432274  0.589372  0.054904
3  0.096768  0.269251  0.555936
4  0.954864  0.143556  0.481273
a    2.072797
b    2.171825
c    2.690397
d    2.757804
e    2.248124
f    1.778277
g    2.650428
h    2.470026
i    1.398881
j    2.697653
dtype: float64
smallest number: i

In [ ]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [113]:
# YOUR CODE HERE
# raise NotImplementedError()
data_f =[[np.nan, 0.2,np.nan,np.nan,0.1,0.1, np.nan, 0.9,np.nan,0.7],
         [0.3, 0.03, np.nan,np.nan,0.2,0.8, np.nan, np.nan,0.2,np.nan],
         [np.nan,0.09,0.06,0.1,np.nan,np.nan,0.2,np.nan,0.3,np.nan],
         [0.1,np.nan,0.01, np.nan,np.nan,0.05,np.nan,0.5,0.4,np.nan],
         [0.02,np.nan,np.nan,0.3,0.5,0.2, 0.1,np.nan,np.nan,np.nan]]
#indexes =
dfa = pd.DataFrame(data_f, columns=(1,2,3,4,5,6,7,8,9,10))
print(dfa)
#c= dfa.columns[dfa.isna().any()].tolist()
dfb = (dfa.isnull().cumsum(axis=1) == 3).idxmax(axis=1).tolist()


print(dfb)

     1     2     3    4    5     6    7    8    9    10
0   NaN  0.20   NaN  NaN  0.1  0.10  NaN  0.9  NaN  0.7
1  0.30  0.03   NaN  NaN  0.2  0.80  NaN  NaN  0.2  NaN
2   NaN  0.09  0.06  0.1  NaN   NaN  0.2  NaN  0.3  NaN
3  0.10   NaN  0.01  NaN  NaN  0.05  NaN  0.5  0.4  NaN
4  0.02   NaN   NaN  0.3  0.5  0.20  0.1  NaN  NaN  NaN
[4, 7, 6, 5, 8]

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345