# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [12]:
import numpy as np
import pandas as pd

In [14]:
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [74]:
# YOUR CODE HERE
#raise NotImplementedError()
import pandas as pd
import numpy as np
df['age'] = df['age'].replace(['2.0'] , '1.5')
df

KeyError: 'age'

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [30]:
# YOUR CODE HERE
#raise NotImplementedError()
import pandas as pd
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df =pd.DataFrame(data=data, index =labels)
sort_by_age = df.sort_values(by= 'age', ascending = False)
sort_by_visit = df.sort_values(by= 'visits' , ascending = True)
print(sort_by_age)
print(sort_by_visit)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [31]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

AssertionError:

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [42]:
# YOUR CODE HERE
#raise NotImplementedError()
df = pd.DataFrame(np.random.random(size=(5,3)))
print(df)
mean_by_row=df.mean(axis=1)
print(c)
sub_row = df.sub(df.mean(axis=1), axis=0)
print(sub_row)

          0         1         2
0  0.669542  0.771702  0.573689
1  0.392619  0.551166  0.801619
2  0.368184  0.018498  0.293208
3  0.217806  0.970709  0.042494
4  0.114111  0.380340  0.681780
0    0.523993
1    0.128619
2    0.399899
3    0.647511
4    0.821111
dtype: float64
          0         1         2
0 -0.002103  0.100058 -0.097955
1 -0.189182 -0.030635  0.219818
2  0.141554 -0.208132  0.066578
3 -0.192530  0.560373 -0.367843
4 -0.277966 -0.011737  0.289703

In [43]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [63]:
# YOUR CODE HERE
# raise NotImplementedError()
data_f ={'col1':[0.3, 0.2,np.nan], 'col2': [0.1, np.nan, 0.9],
        'col3':[np.nan, 0.03, np.nan],
        'col4':[0.8, np.nan, np.nan],'col5':[np.nan,0.09,0.06],
        'col6':[np.nan,0.2,np.nan],'col7':[0.1,np.nan,0.01],
        'col8':[0.05,np.nan,0.5],'col9':[np.nan,0.02,np.nan],'col10':[np.nan,np.nan,0.2]}
#indexes =
df_2 = pd.DataFrame(data_f)
c= df_2[df_2.isna().any(axis=1)]
print(c)

   col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
0   0.3   0.1   NaN   0.8   NaN   NaN  0.10  0.05   NaN    NaN
1   0.2   NaN  0.03   NaN  0.09   0.2   NaN   NaN  0.02    NaN
2   NaN   0.9   NaN   NaN  0.06   NaN  0.01  0.50   NaN    0.2

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345